$r-mint: #F2FAFB;
$r-green: #107A7F;
$r-blue: #04183D;
$r-orange: #BC5534;
$r-light-grey: #FAF9F9;
$r-extra-light-grey: #CFCFCF;
$r-white: #ffffff;
$r-black: #000000;
$r-capuccino: #edf5fd;
$r-foam: #ffffff;
$r-latte: #191c4d;
$r-alert: #ff5630;
$r-unknown: #cd2026;
$r-error: #cd2026;
$r-esspresso: #323a45;
$r-ricetta: #008000;
$r-beetpasto: #800080;

//neutral
$r-neutral-700: #1f2532;
$r-neutral-600: #58595b;
$r-neutral-500: #858789;
$r-neutral-400: #b1b4b6;
$r-neutral-300: #d7d7d8;
$r-neutral-200: #e7e8e7;
$r-neutral-100: #f9f9f9;

// padding / margins variables:
$r-spacing-2: 2px;
$r-spacing-4: 4px;
$r-spacing-6: 6px;
$r-spacing-8: 8px;
$r-spacing-10: 10px;
$r-spacing-12: 12px;
$r-spacing-16: 16px;
$r-spacing-18: 18px;
$r-spacing-20: 20px;
$r-spacing-24: 24px;
$r-spacing-26: 26px;
$r-spacing-28: 28px;
$r-spacing-30: 30px;
$r-spacing-32: 32px;
$r-spacing-40: 40px;
$r-spacing-48: 48px;
$r-spacing-60: 60px;


// box-shadow variables:
$r-shadow-down: 0px 2px 8px rgba(30, 33, 36, 0.3);
$r-shadow-up: 0px -2px 8px rgba(30, 33, 36, 0.2);
$r-shadow-right: 2px 0px 8px rgba(30, 33, 36, 0.2);
$r-shadow-left: -2px 0px 8px rgba(30, 33, 36, 0.2);
$r-shadow-outer: 0px 2px 16px rgba(30, 33, 36, 0.45);
